.button-test{
    margin-top: 5%;
    margin-bottom: 5%;
}
.form{
    font-weight: 400;
}

.links{
    text-decoration: none;
    color: #84DAE7;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: grey;
    

}

a:hover{
    color:blue;
}
