.back {
  background-color: #ffffff;
  min-height: 100vh;
  text-align: center;
}
.image_time {
width: 50%;
height: 50%;
}

.app-description {
background-color: #ffffff;
position: absolute;
left: 96px;
top: 100px;
width: 90%;
min-height: 30vh;
box-shadow: 0 0 0 10px hsl(188, 67.3%, 71.2%);
}
.imgsize{
max-height: 50vh;
background-size: cover;
background-repeat: no-repeat;
background-position: top center;
overflow: hidden;
}
.backgroundsize{
min-height: 160vh;
background-size:auto;


}

.layer1-left {
background-color: #ffffff;
position: absolute;
top: 250px;
left: 96px;
width: 550px;
min-height: 50vh absolute;
box-shadow: 0 0 0 10px hsl(188, 67.3%, 71.2%);

}

.layer1-right {
background-color: #ffffff;
position: absolute;
top: 250px;
left: 675px;
width: 1077px;
height: 50vh;
box-shadow: 0 0 0 10px hsl(188, 67.3%, 71.2%);

}

.layer2-left {
background-color: #ffffff;
position: absolute;
top: 765px; 
left: 96px;
width: 800px;
min-height: 80vh;

box-shadow: 0 0 0 10px hsl(188, 67.3%, 71.2%);

}

.layer2-right {
background-color: #ffffff;
position: absolute;
top: 765px;
left: 925px;
width: 827px;
min-height: 80vh;
box-shadow: 0 0 0 10px hsl(188, 67.3%, 71.2%);
}
