.back {
  background-color: #ffffff;
  min-height: 100vh;
  text-align: center;
  overflow: hidden;
}
.image_time {
width: 50%;
height: 50%;
}

.app-description {
background-color: #ffffff;
position: absolute;
left: 96px;
top: 100px;
width: 90%;
min-height: 30vh;
box-shadow: 0 0 0 10px hsl(188, 67.3%, 71.2%);
}
.imgsize{
max-height: 50vh;
background-size: cover;
background-repeat: no-repeat;
background-position: top center;
overflow: hidden;
}
.backgroundsize{
min-height: 160vh;
background-size:auto;

}

.layer1-left {
background-color: #ffffff;
position: absolute;
top: 20%;
left: 96px;
width: 30.5%;
min-height: 50vh;
box-shadow: 0 0 0 10px hsl(188, 67.3%, 71.2%);

}

.layer1-right {
background-color: #ffffff;
position: absolute;
top: 20%;
left: 36.7%;
width: 58.51%;
height: 50vh;
box-shadow: 0 0 0 10px hsl(188, 67.3%, 71.2%);
}

.layer2-left {
background-color: #ffffff;
position: absolute;
top: 72%; 
left: 96px;
width: 44.5%;
min-height: 80vh;

box-shadow: 0 0 0 10px hsl(188, 67.3%, 71.2%);

}

.layer2-right {
background-color: #ffffff;
position: absolute;
top: 72%;
left: 50.75%;
width: 44.45%;
min-height: 80vh;
box-shadow: 0 0 0 10px hsl(188, 67.3%, 71.2%);
}
