/* Classes for making child elements on same line */
.parent {
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}

.child {
    display: inline-block;
    height: 100%;
}

/**/

h5 {
    text-align: center;
    font-size: 23px;
}

#welcome-comment {
    text-align: center;
}

/* Priority Shapes */
.priorityHigh {
    border: solid 10px red;
    background-color: red;
    height:65px;
    width:10px;
    box-shadow: 0 2px 10px 2px rgba(0,0,0,.14), 0 6px 5px 5px rgba(0,0,0,.12), 0 8px 3px -5px rgba(0,0,0,.2);
}

.priorityMid {
    border: solid 10px yellow;
    background-color: yellow;
    height:65px;
    width:10px;
    box-shadow: 0 2px 10px 2px rgba(0,0,0,.14), 0 6px 5px 5px rgba(0,0,0,.12), 0 8px 3px -5px rgba(0,0,0,.2);
}

.priorityLow {
    border: solid 10px green;
    background-color: green;
    height:65px;
    width:10px;
    box-shadow: 0 2px 10px 2px rgba(0,0,0,.14), 0 6px 5px 5px rgba(0,0,0,.12), 0 8px 3px -5px rgba(0,0,0,.2);
}
/**/

td {
    padding: 1%;
}

.task-btn {
    background-color: #78e2f0a1;
    color:rgb(100, 100, 100); 
    border: none;
    height: 65px;
    width: 375px;
    font-size: 14pt !important;
    font-weight: bold !important;
    transition: 800ms;
    border: solid 2px white;
    box-shadow: 0 2px 10px 2px rgba(0,0,0,.14), 0 6px 5px 5px rgba(0,0,0,.12), 0 8px 3px -5px rgba(0,0,0,.2);
}

.task-btn:hover {
    background:#fff !important;
    color:#2b8492 !important;
}

#tasks-table {
    margin-top: 5%;
    margin-left: 10%;
}

#complete-task, #remove-task {
    width:  120px;
    height: 32.5px;
}

/*
#complete-task {
    background-image: url('./../../assets/profile/checkmark-icon.jpg');
    background-size: contain;
}

#remove-task {
    background-image: url('./../../assets/profile/trash-bin-icon.png');
    background-size: contain;
}*/

#remove-task {
   
}

#course-modal {
    z-index: 100
}

#courses-table {
    padding: 2%;
    margin-top: 30%;
    width: 1000px;
}

/* BAR GRAPH */
#bar-table {
    margin-top: 5%;
    margin-right: 10%;
}
/**/

/* Modal */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1001; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    /* BACKGROUND DIM */
    background-color: rgba(0,0,0,0.4); 
}
  
#modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 5%;
    border: 1px solid #888;
    width: 50%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/**/

/* Profile Card */
.main-raised {
    float:left;
    margin: 120px 100px 0;
    border-radius: 6px;
    height:300px;
    width:400px;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}

.main {
    position: relative;
    z-index: 3;
}
/**/

.profile-page .profile {
    text-align: center;
}

#pic {
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
    transform: translate3d(0,-50%,0);
    display: block;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}

.rounded-circle {
    border-radius: 50%;
}

#name {
    margin-top: 30px;
    margin-bottom: 25px;
    min-height: 32px;
    color: #3C4858;
    font-weight: 700;
    font-family: "Roboto Slab","Times New Roman",serif;
}

.profile-page .description {
    padding: 1%;
}

.profile-page .profile .description{
    margin-top: -110px;
}

.btn-primary {
    
  background-color: #78e2f0a1 !important;
  font-family: Arial;
  color: #000000 !important;
  font-weight: 600 !important;
  font-size: 20px;
  text-decoration: none !important;
  box-shadow: none !important;
  outline-color: black !important;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  background-color: #6dcedd !important;
  border-color: #6dcedd !important;
}
