.MyCalendar {
	text-align: center;
}

.App {
	text-align: center;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: linear-gradient(45deg, rgb(161, 252, 255),rgb(113, 24, 255));
	overflow: hidden;
}

.Container{
	width: 900px;
}

.Cal_Header {
	width: 30%;
	height: 5%;
	transform: translate(0px,20px);
	margin: auto;
}

.Calen {
	position: absolute;
	transform: translate(225px,55px);
	margin: center;
}

.info {
	position: absolute;
	background: rgba(255,255,255,0.1);
	width: 250px;
	height: 250px;
	transform: translate(0px,100px);
	margin: center;
}

.rbc-calendar {
	position: relative;
	background: rgba(255,255,255,0.1);
}
.rbc-day-bg.rbc-today {
	background: rgba(255,255,255,0.1);
}
.rbc-day-bg.rbc-off-range-bg {
	background: rgba(255,255,255,0.4);
}
.rbc-event.rbc-event-allday{
	background: rgb(0, 112, 0);
}

.react-datepicker-popper {
	background: rgba(255,255,255,0.7);
}

.react-datepicker {
	background: rgba(255,255,255,0.7);
}

.react-datepicker__header {
	background: rgba(255,255,255,0.7);
}
