body{
    margin: 0;
  }
  .footer {
    position:relative;
    overflow: hidden;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    padding-top: 3px;

   }   
   .links{
    text-decoration: none;
    color: #78e2f0a1;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: grey;
    

}