.button-test{
    margin-top: 5%;
    margin-bottom: 5%;
}
.form{
    font-weight: 400;
}

.links{
    text-decoration: none;
    color: black;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: grey;
    

}

a:hover{
    color:#84DAE7;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    font-family: 'JosefinSans';
}

/*centers div on right side*/
.w-100.div{
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-top: 10%;
}

@font-face {
    font-family: 'JosefinSans';
    src:local('JosefinSans'),url(./../../assets/fonts/JosefinSans-VariableFont_wght.ttf) format('truetype');
}